body {
    font-size: 10px;
}

.container {
    margin: 0 auto;
}

.btn:focus {
    box-shadow: none;
}

h1 {
    font-size: 5em;
}

.time {
    font-size: 20em;
}

.btn-primary {
    font-size: 2em;
}

@media screen and (max-width: 600px) {
    body {
        font-size: 8px;
    }
    
    .time {
        font-size: 17em;
    }
}